<h3>Hello</h3>
<p>This view is rendered by {{ engine }} engine in {{ mode }} mode.</p>

<h3>Check features/extensions:</h3>
<p><a href="?_url=/mail">mail adapter</a></p>

<h3>More ...</h3>
<p><a href="./index.php">MICRO app</a></p>
