<h3>Hello</h3>
<p>This view is rendered by {{ engine }} engine in {{ mode }} mode.</p>

<h3>Check features/extensions:</h3>
<p><a href="?_url=/db">db extension</a></p>
<p><a href="?_url=/di">di extension</a></p>
<p><a href="?_url=/mail">mail adapter</a></p>
<p><a href="?_url=/logger">logger extension</a></p>
<p><a href="?_url=/validation">validation wrapper</a></p>

<h3>More ...</h3>
<p><a href="./mvc.php">MVC app</a></p>
